<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<head>
    <title> Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="body py-5">
    <div class="container">
        <div class="w-50 m-auto">
            <!-- Thêm lớp "my-4" để tạo ra khoảng cách trên và dưới tiêu đề trang -->
            <h1 class="my-3 text-danger text-center">Error</h1>
            <p th:text="${'The method is ' + method}"></p>
            <p th:text="${'The path is ' + path}"></p>
            <a href="/api/v1/vnpay/" class="btn btn-primary">Về trang chủ</a>
        </div>
    </div>
</div>
</body>
</html>
